@{
  Layout = "_Layout";
}

<div class="container">
  <div id="Result">
    <h1>@Model.GetWords()</h1>
      <br/>
    <h2>The word <span id ="tagerword"><strong>@Model.GetWord()</strong></span>
    appears  @Model.CountWord(@Model.GetWords(),@Model.GetWord())  times
    in the sentence:</h2>
  </div>


  <form action="/Result" method="Post">
    <h4><input type="hidden" name="new-words" value="@Model.GetWords()"></h4>
    <label for="new-word">Enter a new word .</label>
    <input class="form-control" id="new-word" name="new-word" type="text" />
    <br/>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <br/>
  <form  action="/" method="Get">
    <button type="submit" class="btn btn-danger" >Home</button>
  </form>
</div>
